/**
 * Echoes Client
 *
 * @author  Adrian@Slacknet
 * @license http://www.gnu.org/licenses/gpl-3.0.txt GPLv3
 */

var AppConfig = {
    LOG_LEVEL: 3,
    CONSOLE_LOG: true,
    WS_SERVER: 'wss://io.echoes.im/',

    ALLOWED_TRANSPORTS: [
        'websocket',
        //'htmlfile',
        //'xhr-polling',
        //'jsonp-polling',
    ],

    PARALLAX_AUTH: 'https://echoes.im',
}
