<!doctype html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>echoes.im</title>
    <link href="/client/view/ui.css" rel="stylesheet" type="text/css" />
    <link href="/client/view/theme/dark.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.1/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/client/lib/config.js"></script>
    <script type="text/javascript" src="/client/lib/object.js"></script>
    <script type="text/javascript" src="/client/lib/crypto.js"></script>
    <script type="text/javascript" src="/client/view/ui.js"></script>
    <script type="text/javascript" src="/client/controller/echoes.js"></script>
</head>
<body class="theme_bg_dark theme_color_light">
    <ul id="menubar" class="theme_bg_dark theme_color_white theme_bold theme_shadow">
        <li id="menu_channels" class="theme_bold">&#8801;<!--#--></li>
        <li id="menu_nicknames" class="theme_bold">&#8801;</li>

        <li id="current_window_name" class="theme_bold theme_color_light"></li>
    </ul>
    <div id="wall" class="theme_bg_white theme_color_dark">
        <ul id="echoes" windowname=")))"></ul>
    </div>
    <div id="input" class="theme_bg_dark theme_color_white theme_shadow">
        <div id="input_wrapper" class="theme_border-bottom_dark">
            <input id="echo_input" autocomplete="off" maxlength="140" placeholder=")))" class="theme_color_light theme_bg_transparent" />
        </div>
    </div>

    <div id="me" class="theme_bg_black theme_color_white">
        <div id="me_wrapper" class="theme_border-bottom_dark">
            <input id="me_input" autocomplete="off" maxlength="20" placeholder="" class="theme_color_light theme_bg_transparent" />
        </div>
    </div>
    <div id="close_lists" class="theme_bg_transparent"></div>
    <ul id="nicknames" class="theme_bg_dark theme_color_light theme_bold theme_shadow"></ul>
    <ul id="channels" class="theme_bg_dark theme_color_light theme_bold theme_shadow">
        <li windowname=")))">)))</li>
    </ul>
    <div id="encrypt"><img id="encrypt_img" src="/client/assets/unencrypted.png" alt="unencrypted" /></div>
</body>
</html>
