<!doctype html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Echoes ))) Peer-to-Peer Encrypted Messaging</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="favicon.ico"/>

    <link href="/client/view/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/client/view/ui.css" rel="stylesheet" type="text/css" />
    <link href="/client/view/theme/blu.css" rel="stylesheet" type="text/css" />
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" type="text/css" />-->

    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/client/lib/config.js"></script>
    <script type="text/javascript" src="/client/lib/object.js"></script>
    <script type="text/javascript" src="/client/lib/crypto.js"></script>
    <script type="text/javascript" src="/client/view/ui.js"></script>
    <script type="text/javascript" src="/client/controller/echoes.js"></script>
</head>
<body>
    <ul id="menubar">
        <li id="menu_channels">&#8801;</li>
        <li id="menu_nicknames">&#8801;</li>

        <li id="current_window_name"></li>
    </ul>
    <div id="wall">
        <ul id="echoes" windowname=")))"></ul>
    </div>
    <div id="input">
        <div id="input_wrapper">
            <input id="echo_input" autocomplete="off" maxlength="140" placeholder=")))" />
        </div>
    </div>

    <div id="me">
        <div id="me_wrapper">
            <div>)))</div>
            <br />

            <input id="me_input" autocomplete="off" maxlength="20" placeholder="" />
        </div>
    </div>
    <div id="close_lists"></div>
    <ul id="nicknames"></ul>
    <ul id="channels">
        <li windowname=")))">)))</li>
    </ul>
    <div id="encrypt"><img id="encrypt_img" src="/client/assets/unencrypted.png" alt="unencrypted" /></div>
</body>
</html>
